<nav id="topbar" class="navbar navbar-expand-lg navbar-light bg-light">
	
	<div class="navbar-header">
      <%= link_to image_tag("/assets/instagram-new.png", size: "30x30"), root_path %>
    </div>
		
	<a href="#" class="ml-3 navbar-brand" style="
    font-size: 2rem;
"> Instogroom</a>
	<button
		class="navbar-toggler"
		type="button"
		data-toggle="collapse"
		data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent"
		aria-expanded="false"
		aria-label="Toggle navigation"
	>
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="navbar-item" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">

		  <button type="button" class="nav-items btn btn-outline-light text-dark"><%= link_to "Explore", explores_path, class: "nav-link text-dark"  %></button>
			<button type="button" class="nav-items btn btn-outline-light text-dark"><%= link_to "Waterfall ", root_path, class: "nav-link text-dark"  %></button>
			
			<button type="button" class="nav-items btn btn-outline-light text-dark"><%= link_to " Add new Instopic", profile_path, class: "nav-link text-dark"  %></button>
		
		</ul>
	</div>
	
		<div class="navbar-profile">
      <%= link_to image_tag("/assets/profile.png", size: "30x30"), root_path %>
    </div>
</nav>
<%= javascript_include_tag 'topbar', 'data-turbolinks-track': 'reload', 'type':
'module' %>
