<div class="fields">
<h2 style="font-size: 4rem">Sign up</h2>
<pre>Sign up to see photos and 
videos from your friends</pre>
<hr>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

   <div class="field">
     <label class="lable" for="emailInput">Email address</label>
    <input type="email" class="form-control" id="emailInput" placeholder="name@example.com">
  </div>

  <div class="field">
    <label class="lable" for="inputPassword" class="col-sm-2 col-form-label">Password</label>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
  </div>
<div class="field">
    <label class="lable" for="inputPassword" class="col-sm-2 col-form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
